<mat-toolbar class="menu" class="button-row">
  <a [routerLink]="['/']" class="navbar-brand"><b>Souza Seguros</b></a>
  <span class="example-spacer"></span>
  <button [routerLink]="['/apolice']" >
    Apolices
  </button>
  <button [routerLink]="['/cliente']" >
    Clientes
  </button>
</mat-toolbar>
  <div class="conteudo">
    <router-outlet></router-outlet>
  </div>
<footer class="main-footer">
  <div class="container">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Souza Seguros</strong> | Angular Application
  </div>
</footer>