<div class="conteudo">

<mat-form-field class="example-form-field">
    <mat-label>Informe Número da Apólice</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="buscarApolice()">
        Buscar
    </button>
  </mat-form-field>

  <div *ngIf="apolice && !null">
    <h1>Apolice selecionada</h1>
    <p> Termino contrato - {{apolice.fimContrato | date:'dd/MM/yyyy'}} </p>
    <p>Status de contrato: {{status? Vencido : Ativo}}</p>
    <p *ngIf="!vencindo"> Faltam {{qntDias | number: '1.0-0'}} dias para vencer</p>
    <p *ngIf="vencindo"> Vencida à  {{qntDias | number: '1.0-0'}} dias</p>
    <p> Placa Veículo - {{apolice.placaVeiculo | uppercase}} </p>
    <p> Valor da Apólice - {{apolice.valorApolice | currency: 'BRL':true}} </p>
  </div>
</div>
